{{ ansible_managed | ansible.builtin.comment }}
---
services:
  openwebui:
    image: {{ openwebui_docker_image }}
    container_name: open-webui
    restart: unless-stopped
    logging:
      options:
        max-size: "100m"
        max-file: "10"
      driver: json-file
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
    ports:
      - 127.0.0.1:8080:8080
    networks:
      - ollama
    volumes:
      - {{ openwebui_docker_path }}/data:/app/backend/data:rw
      - /etc/localtime:/etc/localtime:ro

networks:
  ollama:
    name: internal-ollama-network
